<div *ngIf="selectionStep === 1">
  <cdk-virtual-scroll-viewport itemSize="50" class="cdk-viewport">
    <div *cdkVirtualFor="let req of selectedRequests" class="cdk-item">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <img
              src="/assets/icons/requests/mapSelectionDot.png"
              width="16"
              height="16"
            />
            {{ req.beneficiary.first_name || "_???_" }}
          </mat-card-title>
          <mat-card-subtitle>
            <mat-icon style="font-size: 12px">place</mat-icon>
            {{ req.beneficiary.zone }}

            <!-- {{ req.address }} -->
          </mat-card-subtitle>
          <mat-card-subtitle>
            <mat-icon style="font-size: 16px">mail</mat-icon>
            {{ req.type || "nedeterminat" }}
          </mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
  </cdk-virtual-scroll-viewport>
</div>
<!-- --------STEP 2------------------- -->
<div *ngIf="selectionStep === 2">
  <cdk-virtual-scroll-viewport itemSize="50" class="cdk-viewport">
    <div *cdkVirtualFor="let vol of volunteers">
      <mat-card style="width: 100%; height: auto; padding: 9px 11px">
        <mat-card-header style="border: 1px solid rgb(131, 63, 63)">
          <mat-card-title>
            <img
              src="/assets/icons/requests/mapSelectionDot.png"
              width="16"
              height="16"
            />
            {{ vol.first_name }}
          </mat-card-title>
          <mat-card-subtitle>
            <mat-icon style="font-size: 16px">place</mat-icon>
            {{ vol.zone_address }} {{ vol.address }}
          </mat-card-subtitle>
          <mat-card-subtitle>
            <mat-icon style="font-size: 16px">mail</mat-icon>
            <!-- {{ vol.type || "nedeterminat" }} -->
          </mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
  </cdk-virtual-scroll-viewport>
</div>
<!-- --------STEP 3------------------- -->
<ng-container *ngIf="selectionStep === 3">
  <p>TAT ii CIOTKO!</p>
</ng-container>
