$fontFamily: Roboto, sans-serif;

$modalWindowWidth: 568px;
$modalWindowHeight: 1053px;

::ng-deep .newrequest-custom-modalbox {
  .mat-dialog-container {
    width: $modalWindowWidth;
    height: $modalWindowHeight;
    padding: 0;
    background: #ffffff;
  }
}

.modal_header_line {
  height: 60px;
  width: 100%;
  border-radius: 0px;
  border-bottom: 1px solid #ccc;
  left: 195px;
  top: 24px;

  & a {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
  }
}

.content {
  border-bottom: 1px solid #dedede;
  padding-left: 41px;
  padding-right: 40px;
  padding-top: 23px;
  padding-bottom: 23px;

  input,
  select {
    height: 40px;
    border: 0.5px solid rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    padding: 15px;
    color: #282828;
    outline: none;
  }

  select {
    padding: 0;
  }

  input.ng-invalid,
  select.ng-invalid {
    border: 0.5px solid red;
  }

  mat-select {
    height: 40px;
    border: 0.5px solid rgba(0, 0, 0, 0.4);
  }

  .fieldset {
    font-family: Roboto;
    font-style: normal;
    font-size: 16px;
    line-height: 100%;
    font-weight: 500;
    color: #282828;
    margin-bottom: 24px;
  }

  .fields_row {
    margin-bottom: 14px;
  }

  .field:not(:last-child) {
    margin-right: 10px;
  }

  .title {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 100%;
    color: #a9a6a6;
    margin-bottom: 10px;
  }

  .phone_prefix {
    width: 70px;
    border-right: none;
  }

  .phone_number {
    width: 160px;
  }

  .slide-toggle {
    width: 124px;
    height: 40px;
    margin-top: 21px;
    margin-left: 101px;
    // padding-top: 8px;
    // padding-left: 16px;
    // padding-bottom: 8px;
    // width: 150px;
    border: 2px solid #e2e2e2;
    padding-top: 5px;
    padding-left: 15px;
    color: red;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
  }

  ::ng-deep .mat-slide-toggle-bar {
    width: 16.64px;
    height: 6.66px;
    background: #e2e2e2;
    border-radius: 10px;
  }

  ::ng-deep .mat-slide-toggle-thumb {
    width: 11.65px;
    height: 11.65px;
    background: #a6a6a6;
    border: 1px solid #a6a6a6;
  }

  :ng-deep .mat-slide-toggle-content span {
    margin-left: 30px;
  }
}

.footer {
  padding: 23px;
  display: flex;
  justify-content: center;
}
