<div class="d-flex">
  <div fxFlex="75" class="mt-3">
    <map #map></map>
  </div>

  <div fxFlex="25" fxFlex fxLayout="column">
    <!-- TODO  -->
    <div id="selection div">
      <form [formGroup]="form" (ngSubmit)="onSubmit($event)">
        <div fxLayout="column">
          <div fxLayoutAlign="center">Selectare Beneficiari</div>
          <div
            fxLayout="row"
            fxLayoutAlign="space-around center"
            style="border: 1px solid #ccc"
          >
            <div fxFlex="45" style="background-color: aquamarine">
              <mat-select formControlName="city_sector" placeholder="Sector">
                <mat-option *ngFor="let sec of zones" [value]="sec">
                  {{ sec.charAt(0).toUpperCase() + sec.slice(1) }}
                </mat-option>
              </mat-select>
            </div>
            <div fxFlex="45" style="background-color: rgb(51, 185, 141)">
              <mat-select formControlName="needs" placeholder="Necesitateф">
                <mat-option>1</mat-option>
                <mat-option>2</mat-option>
                <mat-option>3</mat-option>
                <mat-option>4</mat-option>
              </mat-select>
            </div>
          </div>
        </div>
      </form>
    </div>
    <!-- TODO  -->
    <div
      #selectionsResult
      fxFlex="auto"
      fxLayout="column"
      fxLayoutAlign="space-between center"
      style="background-color: rgb(176, 195, 189)"
    >
      <div fxLayout="column" fxLayoutAlign="center stretch">
        <div *ngFor="let req of selectedRequests">
          <mat-card style="width: auto; height: auto; padding: 9px 11px">
            <mat-card-header style="border: 1px solid red">
              <mat-card-title>
                <img
                  src="/assets/icons/requests/mapSelectionDot.png"
                  width="16"
                  height="16"
                />
                {{ req.first_name }}
              </mat-card-title>
              <mat-card-subtitle>
                <mat-icon style="font-size: 16px">place</mat-icon>
                {{ req.zone_address }} {{ req.address }}
              </mat-card-subtitle>
              <mat-card-subtitle>
                <mat-icon style="font-size: 16px">mail</mat-icon>
                {{ req.type || 'nedeterminat' }}
              </mat-card-subtitle>
            </mat-card-header>
          </mat-card>
        </div>
      </div>
      <div fxLayoutAlign="center" style="margin: 5px">
        <button mat-flat-button color="primary" style="width: 100px">
          Următor
        </button>
      </div>
    </div>
  </div>
</div>
